/*-------------- GLOBAL ------------*/

@font-face {
  font-family: proximaNovaBlack;
  src: url("./fonts/ProximaNova-Black.otf");
}

@font-face {
  font-family: proximaNovaLight;
  src: url("./fonts/ProximaNova-Light.otf");
}

@font-face {
  font-family: proximaNovaRegular;
  src: url("./fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: proximaNovaBold;
  src: url("./fonts/ProximaNova-Bold.otf");
}

@font-face {
  font-family: proximaNovaSemibold;
  src: url("./fonts/ProximaNova-Semibold.otf");
}

@font-face {
  font-family: proximaNovaCondLight;
  src: url("./fonts/ProximaNovaCond-Light.otf");
}

@font-face {
  font-family: futuraPTBold;
  src: url("./fonts/FuturaPTBold.otf");
}

@font-face {
  font-family: futuraPTBook;
  src: url("./fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: futuraPTDemi;
  src: url("./fonts/FuturaPTDemi.otf");
}

@font-face {
  font-family: futuraPTHeavy;
  src: url("./fonts/FuturaPTHeavy.otf");
}

/*-------------- VARIABLES ------------*/

:root {
  --red-bonobo: #f44a52;
  --not-black: #1b1b1b;
}

/*-------------- container ------------*/
html {
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: rgba(241, 241, 241, 0.377);
}

#root {
  background-color: rgba(241, 241, 241, 0.377);
}

.myContainer {
  padding: 0 80px;
}

/*-------------- header ------------*/

.header {
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .header {
    padding: 10px;
  }
  .logo {
    width: 140px !important;
  }
  .menu-button {
    margin-top: 0 !important;
    height: 60px !important;
    width: 60px;
  }
  .menu-button i {
    font-size: 20px;
  }
}

.center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  padding: 10px 10px;
  width: 140px;
  transition: 300ms;
  margin-top: -4px;
}

.logo:hover {
  opacity: 0.8;
}

.left-menu {
  display: flex;
  flex-direction: column;
}

.right-menu {
  display: flex;
  flex-direction: column;
}

.navlink {
  padding: 20px 20px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  font-family: FuturaPTBook;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 300ms;
}

.navlink:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.navlink-active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px) {
  .left-menu {
    display: none;
  }
  .right-menu {
    display: none;
  }
}

@media (min-width: 800px) {
  .menu-button {
    display: none;
  }
}

.menu-button {
  width: 60px;
  height: 48px;
  float: right;
  border: none;
  background: none;
  color: rgb(51, 51, 51);
  font-size: 23px;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5000;
  visibility: hidden;
  transition: 400ms;
}

.mobile-menu.active {
  visibility: visible;
}

.darkness {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 400ms;
  margin: 0;
}

.darkness.active {
  background-color: rgba(0, 0, 0, 0.548);
}

.sidebar {
  height: 100vh;
  width: 45vw;
  position: fixed;
  background-color: var(--red-bonobo);
  margin: 0;
  right: 0;
  padding: 5vw 5vw 0 6vw;
  box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.15);
  transition: 400ms cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateX(90vw);
}

.sidebar.active {
  transition: 700ms cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateX(0px);
}

.sidebar-link {
  color: white;
  font-family: proximaNovaBold;
  font-size: 3.5vh;
  display: block;
  clear: both;
  margin-bottom: 20px;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar-link:hover {
  text-decoration: none;
  opacity: 0.7;
  color: white;
  transform: translateX(1vh);
}

.sidebar-close {
  color: white;
  background: none;
  border: none;
  font-size: 3vh;
  margin-bottom: 4vh;
  transition: 200ms;
  float: right;
  cursor: pointer;
}

.sidebar-close:hover {
  transform: scale(0.95);
  opacity: 0.8;
}

/*-------------- texts ------------*/

h1 {
  color: red;
}

h2 {
  color: #525252 !important;
  font-family: FuturaPTHeavy !important;
  font-size: 35px !important;
  letter-spacing: -0.01em !important;
  margin-bottom: 40px !important;
}

/*-------------- gallery ------------*/

.galleryBackground {
  width: 100%;
  height: 100%;
  transition: 600ms;
  cursor: pointer;
  border-radius: 4px;
}

.galleryBackground:hover {
  filter: brightness(0.8) saturate(0);
}

.galleryElement {
  padding: 10px !important;
}

.lightbox {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(228, 228, 228);
  z-index: 6000;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lightbox-image {
  margin: auto;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 4px;
}

.lightbox-close {
  cursor: pointer;
  font-size: 20px;
  transition: 300ms;
  text-align: right;
  padding: 40px 40px 0 0;
}

.lightbox-close:hover {
  opacity: 0.8;
}

/*-------------- contact form ------------*/

.input {
  border-radius: 4px !important;
  border: 1px rgb(182, 182, 182) solid !important;
  font-family: proximaNovaRegular !important;
  transition: 300ms !important;
  padding: 25px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.342) !important;
}

.input:focus {
  background-color: white !important;
  box-shadow: none !important;
}

.submit-button {
  text-transform: uppercase;
  transition: 300ms !important;
  border-radius: 4px !important;
  border: 2px grey solid;
  background-color: rgba(255, 0, 0, 0) !important;
  padding: 15px 30px;
  font-family: FuturaPTDemi;
  letter-spacing: 2px;
  cursor: pointer;
}

.enabled {
  background-color: #f44a52 !important;
  color: white;
  border-color: #f44a52;
}

.disabled {
  cursor: auto;
}

.enabled:hover {
  background-color: #f36b72 !important;
}

.enabled:active {
  transform: scale(0.98) !important;
  background-color: #f0a2a6;
}

/*-------------- footer ------------*/

.footer {
  width: 100%;
  clear: both;
  display: block;
  padding: 100px 0;
  text-align: center;
}

.footer-text {
  color: #999;
  transition: 300ms;
  font-size: 10px;
  letter-spacing: 1.9px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: FuturaPTDemi;
}

.footer-text:hover {
  color: rgb(122, 122, 122);
  text-decoration: none;
}

/*-------------- scrollbar ------------*/

/* ::-webkit-scrollbar              
::-webkit-scrollbar-button      
::-webkit-scrollbar-track        
::-webkit-scrollbar-track-piece  
::-webkit-scrollbar-thumb        
::-webkit-scrollbar-corner      
::-webkit-resizer               */

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: var(--not-black);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--not-black);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(238, 238, 238);
}
