/*-------------- GLOBAL ------------*/

@font-face {
  font-family: proximaNovaRegular;
  src: url("./fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: proximaNovaBlack;
  src: url("./fonts/ProximaNova-Black.otf");
}

@font-face {
  font-family: futuraPTBold;
  src: url("./fonts/FuturaPTBold.otf");
}

@font-face {
  font-family: futuraPTBook;
  src: url("./fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: futuraPTDemi;
  src: url("./fonts/FuturaPTDemi.otf");
}

@font-face {
  font-family: futuraPTHeavy;
  src: url("./fonts/FuturaPTHeavy.otf");
}

/*-------------- VARIABLES ------------*/

:root {
  --red-bonobo: #f44a52;
  --not-black: #1b1b1b;
}

/*-------------- container ------------*/
html {
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: rgba(241, 241, 241, 0.377);
}

#root {
  background-color: rgba(241, 241, 241, 0.377);
}

.myContainer {
  padding-left: 80px;
  padding-right: 80px;
  max-width: 1920px;
  margin: auto;
}

/*-------------- header ------------*/

.header {
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .header {
    padding: 10px;
  }
  .logo {
    width: 140px !important;
  }
  .menu-button {
    margin-top: 0 !important;
    height: 60px !important;
    width: 60px;
  }
  .menu-button i {
    font-size: 20px;
  }
  .myContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  padding: 10px 10px;
  width: 140px;
  transition: 300ms;
  margin-top: -2px;
}

.logo:hover {
  opacity: 0.8;
}

.left-menu {
  display: flex;
  flex-direction: column;
}

.right-menu {
  display: flex;
  flex-direction: column;
}

.navlink {
  padding: 20px 20px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  font-family: FuturaPTBook;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 300ms;
}

.navlink:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.navlink-active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px) {
  .left-menu {
    display: none;
  }
  .right-menu {
    display: none;
  }
}

@media (min-width: 800px) {
  .menu-button {
    display: none;
  }
}

.menu-button {
  width: 60px;
  height: 48px;
  float: right;
  border: none;
  background: none;
  color: rgb(51, 51, 51);
  font-size: 23px;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  visibility: hidden;
  transition: 400ms;
}

.mobile-menu.active {
  visibility: visible;
}

.darkness {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: 400ms;
  margin: 0;
}

.darkness.active {
  background-color: rgba(0, 0, 0, 0.548);
}

.sidebar {
  height: 100vh;
  max-width: 600px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f7f7f7;
  margin: 0;
  right: 0;
  padding: 50px;
  box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.15);
  transition: 400ms cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateX(90vw);
}

.sidebar.active {
  transition: 700ms cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateX(0px);
}

.sidebar-menu {
  padding-right: 100px;
}

.sidebar-link {
  color: rgb(78, 78, 78);
  font-family: futuraPTBold;
  font-size: 20px;
  padding: 15px 0;
  transition: 200ms;
  clear: both;
  display: block;
}

.sidebar-link:hover {
  text-decoration: none;
  opacity: 0.5;
  color: inherit;
}

.sidebar-close {
  background-color: #f44a52;
  background: none;
  border: none;
  padding: 10px;
  font-size: 20px;
  transition: 200ms;
  cursor: pointer;
  flex: 0 0 auto;
}

.sidebar-close:hover {
  opacity: 0.5;
}

/*-------------- texts ------------*/

h1 {
  color: red;
}

#designed-by {
  margin: 0 !important;
  font-size: 12px;
}

h2 {
  color: #525252 !important;
  font-family: FuturaPTHeavy !important;
  font-size: 35px !important;
  letter-spacing: -0.35px !important;
  margin: 25px 0 !important;
}

p {
  font-family: proximaNovaRegular;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.16px;
  color: rgba(112, 112, 112, 0.5);
  margin-bottom: 40px !important;
}

/*-------------- gallery ------------*/

.gallery-container {
  column-count: 2;
  column-gap: 20px;
}

@media (max-width: 1000px) {
  .gallery-container {
    column-count: 1;
  }
}

.galleryImage {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: 400ms;
}

.galleryImage:hover {
  filter: brightness(0.8) saturate(0);
}

.invisible {
  opacity: 0;
  transform: scale(0.99);
}

.visible {
  opacity: 1;
  transform: scale(1);
}

.lightbox {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 6000;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

.lightbox-window {
  display: block;
  position: absolute;
}

.lightbox-image {
  margin: auto;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 4px;
}

.lightbox-info {
  color: white;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  top: 0;
  width: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
  border-radius: 4px;
}

h3 {
  font-family: FuturaPTHeavy !important;
  font-size: 30px !important;
  letter-spacing: -0.35px !important;
}

h4 {
  font-family: FuturaPTBook !important;
  font-size: 10px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
}

.lightbox-close {
  margin: 0;
  line-height: 1em;
  cursor: pointer;
  font-size: 20px;
  transition: 300ms;
  padding: 20px;
  color: white;
}

.lightbox-close:hover {
  opacity: 0.8;
}

/*-------------- contact form ------------*/

.input {
  border-radius: 4px !important;
  border: 1px rgb(182, 182, 182) solid !important;
  font-family: proximaNovaRegular !important;
  transition: 300ms !important;
  padding: 25px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.342) !important;
}

.input:focus {
  background-color: white !important;
  box-shadow: none !important;
}

.submit-button {
  text-transform: uppercase;
  font-size: 15px;
  transition: 300ms !important;
  border-radius: 4px !important;
  border: 2px grey solid;
  background-color: rgba(255, 0, 0, 0) !important;
  padding: 15px 30px;
  font-family: FuturaPTDemi;
  letter-spacing: 2px;
  cursor: pointer;
}

.enabled {
  background-color: #f44a52 !important;
  color: white;
  border-color: #f44a52;
}

.disabled {
  cursor: auto;
}

.enabled:hover {
  background-color: #f36b72 !important;
}

.enabled:active {
  transform: scale(0.98) !important;
  background-color: #f0a2a6;
}

/*-------------- footer ------------*/

.footer {
  clear: both;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  text-align: center;
}

.footer-text {
  color: #999;
  transition: 300ms;
  padding: 20px;
  font-size: 10px;
  letter-spacing: 1.9px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: FuturaPTDemi;
}

.footer-text:hover {
  color: rgb(122, 122, 122);
  text-decoration: none;
}

/*-------------- 404 ------------*/

.not-found-text {
  font-family: proximaNovaBlack;
  color: rgba(0, 0, 0, 0.473);
  text-align: center;
}

/*-------------- scrollbar ------------*/

/* ::-webkit-scrollbar              
::-webkit-scrollbar-button      
::-webkit-scrollbar-track        
::-webkit-scrollbar-track-piece  
::-webkit-scrollbar-thumb        
::-webkit-scrollbar-corner      
::-webkit-resizer               */

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: var(--not-black);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--not-black);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(238, 238, 238);
}
