/*-------------- GLOBAL ------------*/

@font-face {
  font-family: proximaNovaBlack;
  src: url("./fonts/ProximaNova-Black.otf");
}

@font-face {
  font-family: proximaNovaLight;
  src: url("./fonts/ProximaNova-Light.otf");
}

@font-face {
  font-family: proximaNovaRegular;
  src: url("./fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: proximaNovaBold;
  src: url("./fonts/ProximaNova-Bold.otf");
}

@font-face {
  font-family: proximaNovaSemibold;
  src: url("./fonts/ProximaNova-Semibold.otf");
}

@font-face {
  font-family: proximaNovaCondLight;
  src: url("./fonts/ProximaNovaCond-Light.otf");
}

html {
  scroll-behavior: smooth;
}

/*-------------- VARIABLES ------------*/

:root {
  --red-bonobo: #f44a52;
  --not-black: #242424;
}

/*-------------- not found ------------*/

.not-found {
  margin: 80px auto 0 auto;
  display: block;
  width: 60%;
}

.notFound-text {
  font-family: proximaNovaBold !important;
  font-size: 26px !important;
  color: grey;
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px 0 120px 0;
}

/*-------------- general body ------------*/

body {
  margin: 0;
  padding: 0;
  font-family: proximaNovaRegular, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-------------- header ------------*/

.myHeader {
  background-color: #ffffff00;
  height: 200px;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: 0.3s;
  clear: both;
  padding: 80px 80px;
}

.myHeader.shrink {
  height: 110px;
  padding: 34px 50px;
  background-color: #202020;
}

.logo {
  width: 230px;
  transition: 0.3s;
  float: left;
}

.logo.shrink {
  width: 180px;
  margin-top: 6px;
  filter: brightness(1);
}

.logo:hover {
  transform: scale(0.9);
}

.navlink {
  font-family: proximaNovaRegular;
  color: white;
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  margin: 0 10px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.082);
  line-height: 40px;
  text-align: center;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.navlink:hover {
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.11);
  transform: translate(0, -1px);
  background-color: white;
  text-decoration: inherit;
  color: inherit;
}

.navlink:active {
  transform: scale(0.97);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.459);
  opacity: 0.8;
}

.navlink-active {
  /*la classe que s'afegeix als navlinks quan estas a aquella pàgina*/
  color: rgba(255, 255, 255, 0.603);
}

.navlink-special {
  margin-left: 27px;
  background-color: var(--red-bonobo);
  color: white;
}

.navlink-special:hover {
  background-color: #f36b72;
  text-decoration: inherit;
  color: white;
}

/*-------------- project grid ------------*/

.col {
  margin: 0;
  padding: 0 !important;
}

.projectItemBg {
  background-color: black;
  transition: 700ms;
}

.projectItemName {
  opacity: 0;
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  transition: 400ms;
  transition-timing-function: ease-out;
  font-family: proximaNovaBold;
  font-size: 32px;
  color: white;
}

.projectItem:hover .projectItemName {
  opacity: 1;
  top: 0;
}

.projectItem:hover .projectItemBg {
  filter: saturate(0) brightness(0.7);
}

a:hover {
  text-decoration: none !important;
}

.itemArea {
  text-align: center;
}

/*-------------- contact form ------------*/

.input {
  border-radius: 25px !important;
  border: none !important;
  font-family: proximaNovaRegular !important;
  color: rgba(0, 0, 0, 0.616) !important;
  transition: 0.3s !important;
  padding-left: 25px !important;
}

.input-short {
  height: 50px !important;
}

.input-long {
  padding-top: 20px !important;
}

.input:focus {
  border: inset 2px var(--red-bonobo);
}

.warning {
  border: 3px orange solid !important;
}

.btn {
  height: 50px !important;
  background-color: var(--red-bonobo);
  color: white;
  opacity: 1 !important;
  transition: 300ms !important;
  border-radius: 25px !important;
}

.disabled {
  background-color: rgb(24, 24, 24) !important;
}

.enabled:hover {
  transform: translateY(-2px) !important;
  background-color: #f36b72;
}

.enabled:active {
  transform: scale(0.94) !important;
  background-color: #f0a2a6;
}

/*-------------- footer ------------*/

.footer {
  width: 100%;
  margin: 0;
  display: block;
  background-color: var(--not-black);
  height: 250px;
  padding-top: 100px;
  text-align: center;
}

.footer img {
  width: 190px;
  display: block;
  margin: 0 auto 5px auto;
}

.footer-text {
  color: white;
  font-family: proximaNovaCondLight;
  font-size: 16px;
  color: grey;
}

/*-------------- jumbo cover ------------*/

.jumboSlogan {
  font-family: proximaNovaBlack;
  font-size: 50px;
  letter-spacing: 1px;
  color: white;
}
